<?xml version='1.0' encoding='utf-8'?>
<TourRoutes><TourRoute><name>ымавиапмсч</name><description>34546deffgfrg</description><length_km>4565434.0</length_km><difficulty>5yt6yjuk,knhgf</difficulty></TourRoute><TourRoute><name>frgethrjnhgf</name><description>345364758uy765r4efvrgbnmj</description><length_km>234567890.0</length_km><difficulty>hgfdwefrgthdfmhkl</difficulty></TourRoute><TourRoute><name>ымавиапмсч</name><description>аиптр</description><length_km>23456.0</length_km><difficulty>кцкпуе</difficulty></TourRoute><TourRoute><name>кпипатр</name><description>уакпипатрртип</description><length_km>3454.0</length_km><difficulty>вмаипи ав</difficulty></TourRoute></TourRoutes>