<?xml version='1.0' encoding='utf-8'?>
<TourRoutes><TourRoute><name>efvrgeth</name><description>qefwrgethjut</description><length_km>34536475.0</length_km><difficulty>faehyf</difficulty></TourRoute><TourRoute><name>d fvdfv</name><description>efsrfer</description><length_km>23456.0</length_km><difficulty>vsfgbdh</difficulty><members_count>23432</members_count></TourRoute></TourRoutes>